@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.about-section {
    margin: auto;
    width: 85%;
    color: white;
    font-family: 'Inter', sans-serif;
    padding-top: 1.2rem;
    background-color: #1A1B21;
  
}

.about-title {
    background-color: #1A1B21;
    color: #F5F5F5;
    font-weight: 600;
    font-size: 1.3rem;
}

.about-info {
    background-color: #1A1B21;
    color: #DCDCDC;
    font-weight: 400;
    font-size: 0.7rem;
    padding-top: 0.5rem;
    line-height: 1.2rem;
}

@media only screen and (min-width: 600px) {

    .about-section {
        margin-top: 2rem;
        
    }

    .about-title {
        font-size: 2.5rem;
    }

    .about-info {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 1rem;

    }

}